.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul {
  padding: 0 30px;
}

.feed-li{
  list-style-type: none;
  padding: 20px;
  display: flex;
  background: lightgray;
}

.feed-li:nth-of-type(odd){
  background: lightskyblue;  
}

.feed-index {
  padding-right: 20px;
}

.feed-text{
}